extends layout

block content
  main
    br
    section.section
      .container
        .column.is-half.is-offset-3
          .card
            .card-image
              img(src=`/static/maps/${encodeURIComponent(map.Map)}.png`)
            .card-content
                p.title.has-text-centered(style=`font-size: ${Math.min(32, Math.max(18, 550/map.Map.length))}px;`)
                  |!{escape(map.Map).replace(new RegExp('_', 'g'), '_<wbr>')}
                hr
                if map.Mapper !== null
                  p.subtitle.mapmappers 📝 Mapper: 
                    each mapper in getMappers(map)
                      span
                        a.unobstrusive(href='/mapper/'+encodeURIComponent(mapper)) #{mapper}
                p.subtitle 📂 Category: #{map.Server}
                if !isNaN(map.Timestamp)
                  p.subtitle 📅 Released on #{map.Timestamp.toISOString().split('T')[0]}
                p.subtitle 🏁 Finished by #{map.Finishers} tees
                a.span.button.is-link.is-warning.is-outlined(href='/static/tw-webgl/?map='+encodeURIComponent(`/static/maps/${map.Map}.map`)) Preview
                a.span.button.is-link.is-warning.is-outlined.tr(href=`/static/maps/${encodeURIComponent(map.Map)}.map`) Download
        br
        .columns.table-links
          .column
            .box
              section.hero
                h1.title Top Ranks
                .horizontal-scroll
                  table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                    thead
                      tr
                        th Rank
                        th Player
                        th Time
                    tbody
                      each record in topTen
                        tr
                          th= record.rank
                          td
                            a(href='/ranks/player/'+encodeURIComponent(record.Name))= record.Name
                          td= formatTime(record.Time)
          .column
            .box
              section.hero
                h1.title Record History
                .horizontal-scroll.latest-records-table
                  table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                    thead
                      tr
                        th Date
                        th Player
                        th Time
                    tbody
                      each record in lastRecords
                        tr
                          td= record.Timestamp.toISOString().replace(/T/, ' ').replace(/\..+/, '')
                          td
                            a(href='/ranks/player/'+encodeURIComponent(record.Name))= record.Name
                          td= formatTime(record.Time)
