extends layout

include templates/mixins.pug

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body
        .container
          .columns
            .column.is-9
              h1.title Unique Race Maps
            .column
              form
                field
                  p.control.has-icons-right
                    input.input.warning-dark-input(type="text", placeholder="Map Search", name="search", value=search, autocomplete="off")
                    span.icon.is-small.is-right
                      i.fa.fa-search
    section.section
      .container
        if !maps.length
          article.tile.is-child.notification
            p.has-text-centered.background-text No maps like "#{search}" found.
        else
          each maprow in maps.reduce(function(result, value, index, array) { if (index % 3 === 0) result.push(array.slice(index, index + 3)); return result; }, [])
            .columns
              each map in maprow
                .column.is-4
                  .card
                    .card-image
                       a(href='/map/'+encodeURIComponent(map.Map))
                        img(src=`/static/img/mapthumb/${encodeURIComponent(map.Map)}.png`)
                    .card-content
                      a(href='/map/'+encodeURIComponent(map.Map))
                        p.title.has-text-centered(style=`font-size: ${Math.min(32, Math.max(18, 300/map.Map.length))}px; height: 36px;`)
                          |!{escape(map.Map).replace(new RegExp('_', 'g'), '_<wbr>')}
                      p.maps-page-meta(style='margin-top: 30px')
                        if !isNaN(map.Timestamp)
                          span(style='margin: 0 5px;') ðŸ“… #{map.Timestamp.toISOString().split('T')[0]}
                        if map.Mapper !== null
                          span(style='margin: 0 5px;') ðŸ“ #{map.Mapper}
          if pageCount > 1
            +pagination(page, pageCount)
