extends layout

mixin member(name, types, flag='DE', leader=false)
  .column
    - size_class = leader == true ? 'is-one-third' : 'is-one-quarter'
    .box(class=size_class)
      article.media
        .media-left
          figure.image.is-96x96
            img(src=`/img/twflags/${flag}.png`, alt=flag, style='margin-top: 10px')
        .media-content
          .content
            h1= name
            if leader
              h3= types
            else
              h4= types

block content
  main
    .container
      br
      section.section
        h1.title Leaders
        .columns.is-multiline.memberlist
          +member('Tezcan', 'Race, DDRace', 'DE', true)
          +member('timakro', 'Race, DDRace', 'DE', true)
          +member('Ryozuki', 'DDRace', 'XCA', true)
      section.section
        h1.title Members
        .columns.is-multiline.memberlist
          +member('tobu.', 'DDRace')
          +member('=xPeke=', 'DDRace, Gores')
          +member('Avelton', 'DDRace, Race')
          +member('AgtBoom c:', 'DDRace, Block', 'AT')
          +member('dcgù', 'DDRace', 'FR')
          +member('Husky', 'DDRace, zCatch')
          +member('bano', 'DDRace, FNG')
          +member('Nocsis', 'DDRace, Gores')
          +member('KlexMikroWelle', 'DDRace')
          +member('Juandissimo', 'DDRace')
          +member('Moni', 'DDRace')
          +member('µLTim8*', 'DDRace, zCatch')
