extends layout

include templates/mixins.pug

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body
        .container
          .columns
            .column.is-9
              h1.title Unique Race Ranks
            .column
              form(action='/ranks/search')
                field
                  p.control.has-icons-right
                    input.input.warning-dark-input(type="text", placeholder="Player search", name="search", autocomplete="off")
                    span.icon.is-small.is-right
                      i.fa.fa-search
          nav.breadcrumb.rank-nav
            ul
              li
                a(href='#short') Short
              li
                a(href='#middle') Middle
              li
                a(href='#long') Long
              li
                a(href='#fastcap') Fastcap
    section.section
      .container
        article.tile.is-child.notification.is-white.table-links
          p.title.mb-4 Ranks for #{name} (#{totalMapFinishedCount}/#{totalMapCount} Maps)
          .columns
            .column
              p.subtitle 🥇 Map Records: 
                if mapRecords
                  b #{mapRecords.recordsCount}
                  |  (ranked 
                  b #{mapRecords.rank}
                  |  of all tees)
                else
                  b 0
            .column
              p.subtitle 🏆 Points: 
                if playerPoints
                  b #{playerPoints.Points}
                  |  (ranked 
                  b #{playerPoints.rank}
                  |  of all tees)
                else
                  b 0
          p.title.is-4.mb-4 Record History
          if lastRecords.length < 1
            if mapRecords
              p Sorry, we couldn't find any recent map records of this player.
            else
              p This player holds no map records.
          else
            .horizontal-scroll.latest-records-table
              table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                thead
                  tr
                    th Date
                    th Map
                    th Time
                tbody
                  each x in lastRecords
                    tr
                      td= x.Timestamp.toISOString().replace(/T/, ' ').replace(/\..+/, '')
                      td
                        a(href='/map/'+encodeURIComponent(x.Map))= x.Map
                      td= formatTime(x.Time)
          br
          span.rank-anchor#short
          p.title.is-4.mb-4 Short Ranks (#{shortMapFinishedCount}/#{numShortMaps} Maps)
          .columns
            .column
              p.subtitle 🥇 Map Records: 
                if shortMapRecords
                  b #{shortMapRecords.recordsCount}
                  |  (ranked 
                  b #{shortMapRecords.rank}
                  |  of all tees)
                else
                  b 0
            .column
              p.subtitle 🏆 Points: 
                if shortPoints
                  b #{shortPoints.Points}
                  |  (ranked 
                  b #{shortPoints.rank}
                  |  of all tees)
                else
                  b 0
          if shortMapList.length
            .horizontal-scroll
              table.table.is-narrow.is-striped.is-hoverable.is-fullwidth.is-bordered#short-table
                thead
                  tr
                    th Map
                    th Time
                    th Rank
                    th Map Points
                tbody
                  each x in shortMapList
                    tr
                      td
                        a(href='/map/'+encodeURIComponent(x.Map))= x.Map
                      td= formatTime(x.playerTime)
                      td(data-order=x.Rank)= x.Rank
                      td= x.Points
          .unfinished-maps
            if unfinishedShort.length
              input(type='checkbox' id='showmoreShort' style='display:none;' autocomplete='off')
              p
                b Unfinished&nbsp;Maps:&ensp;
                each x, i in unfinishedShort
                  a.unobstrusive(href='/map/'+encodeURIComponent(x.Map))= x.Map
                  if i != unfinishedShort.length-1
                    | ,&ensp;
              label(for='showmoreShort') SHOW ALL
          span.rank-anchor#middle
          p.title.is-4.mb-4 Middle Ranks (#{middleMapFinishedCount}/#{numMiddleMaps} Maps)
          .columns
            .column
              p.subtitle 🥇 Map Records: 
                if middleMapRecords
                  b #{middleMapRecords.recordsCount}
                  |  (ranked 
                  b #{middleMapRecords.rank}
                  |  of all tees)
                else
                  b 0
            .column
              p.subtitle 🏆 Points: 
                if middlePoints
                  b #{middlePoints.Points}
                  |  (ranked 
                  b #{middlePoints.rank}
                  |  of all tees)
                else
                  b 0
          if middleMapList.length
            .horizontal-scroll
              table.table.is-narrow.is-striped.is-hoverable.is-fullwidth.is-bordered#middle-table
                thead
                  tr
                    th Map
                    th Time
                    th Rank
                    th Map Points
                tbody
                  each x in middleMapList
                    tr
                      td
                        a(href='/map/'+encodeURIComponent(x.Map))= x.Map
                      td= formatTime(x.playerTime)
                      td(data-order=x.Rank)= x.Rank
                      td= x.Points
          .unfinished-maps
            if unfinishedMiddle.length
              input(type='checkbox' id='showmoreMiddle' style='display:none;' autocomplete='off')
              p
                b Unfinished&nbsp;Maps:&ensp;
                each x, i in unfinishedMiddle
                  a.unobstrusive(href='/map/'+encodeURIComponent(x.Map))= x.Map
                  if i != unfinishedMiddle.length-1
                    | ,&ensp;
              label(for='showmoreMiddle') SHOW ALL
          span.rank-anchor#long
          p.title.is-4.mb-4 Long Ranks (#{longMapFinishedCount}/#{numLongMaps} Maps)
          .columns
            .column
              p.subtitle 🥇 Map Records: 
                if longMapRecords
                  b #{longMapRecords.recordsCount}
                  |  (ranked 
                  b #{longMapRecords.rank}
                  |  of all tees)
                else
                  b 0
            .column
              p.subtitle 🏆 Points: 
                if longPoints
                  b #{longPoints.Points}
                  |  (ranked 
                  b #{longPoints.rank}
                  |  of all tees)
                else
                  b 0
          if longMapList.length
            .horizontal-scroll
              table.table.is-narrow.is-striped.is-hoverable.is-fullwidth.is-bordered#long-table
                thead
                  tr
                    th Map
                    th Time
                    th Rank
                    th Map Points
                tbody
                  each x in longMapList
                    tr
                      td
                        a(href='/map/'+encodeURIComponent(x.Map))= x.Map
                      td= formatTime(x.playerTime)
                      td(data-order=x.Rank)= x.Rank
                      td= x.Points
          .unfinished-maps
            if unfinishedLong.length
              input(type='checkbox' id='showmoreLong' style='display:none;' autocomplete='off')
              p
                b Unfinished&nbsp;Maps:&ensp;
                each x, i in unfinishedLong
                  a.unobstrusive(href='/map/'+encodeURIComponent(x.Map))= x.Map
                  if i != unfinishedLong.length-1
                    | ,&ensp;
              label(for='showmoreLong') SHOW ALL
          span.rank-anchor#fastcap
          p.title.is-4.mb-4 Fastcap Ranks (#{fastcapMapFinishedCount}/#{numFastcapMaps} Maps)
          .columns
            .column
              p.subtitle 🥇 Map Records: 
                if fastcapMapRecords
                  b #{fastcapMapRecords.recordsCount}
                  |  (ranked 
                  b #{fastcapMapRecords.rank}
                  |  of all tees)
                else
                  b 0
            .column
              p.subtitle 🏆 Points: 
                if fastcapPoints
                  b #{fastcapPoints.Points}
                  |  (ranked 
                  b #{fastcapPoints.rank}
                  |  of all tees)
                else
                  b 0
          if fastcapMapList.length
            .horizontal-scroll
              table.table.is-narrow.is-striped.is-hoverable.is-fullwidth.is-bordered#fastcap-table
                thead
                  tr
                    th Map
                    th Time
                    th Rank
                    th Map Points
                tbody
                  each x in fastcapMapList
                    tr
                      td
                        a(href='/map/'+encodeURIComponent(x.Map))= x.Map
                      td= formatTime(x.playerTime)
                      td(data-order=x.Rank)= x.Rank
                      td= x.Points
          .unfinished-maps
            if unfinishedFastcap.length
              input(type='checkbox' id='showmoreFastcap' style='display:none;' autocomplete='off')
              p
                b Unfinished&nbsp;Maps:&ensp;
                each x, i in unfinishedFastcap
                  a.unobstrusive(href='/map/'+encodeURIComponent(x.Map))= x.Map
                  if i != unfinishedFastcap.length-1
                    | ,&ensp;
              label(for='showmoreFastcap') SHOW ALL

block scripts
  script(src="/static/js/jquery.dataTables.js")
  script(src="/static/js/dataTables.bulma.js")
  script(src="/static/js/sort.js")
  script(src="/static/js/showmore.js")
