extends layout

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body
        .container
          .columns
            .column.is-9
              h1.title Unique Race Ranks
            .column
              form
                input.input.warning-dark-input(type="text",placeholder="Player search",name="player")
          nav.breadcrumb.rank-nav
            ul
              li
                a(href='#short') Short
              li
                a(href='#middle') Middle
              li
                a(href='#long') Long
    section.section
      .container
        article.tile.is-child.notification.is-white
          p.title Ranks (345 Maps)
          .columns
            .column
              p.subtitle Map Records
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecords
                      tr
                        th= record.rank
                        td= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPoints
                      tr
                        th= player.rank
                        td= player.Name
                        td= player.Points
            .column
              p.subtitle Last Records
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Player
                      th Map
                      th Time
                  tbody
                    each record, index in lastTopRanks
                      tr
                        td= record.Name
                        td= record.Map
                        td= formatTime(record.Time)
          span.rank-anchor#short
          p.title.is-4 Short Ranks (32 Maps)
          .columns
            .column
              p.subtitle Map Records
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecords
                      tr
                        th= record.rank
                        td= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPoints
                      tr
                        th= player.rank
                        td= player.Name
                        td= player.Points
          span.rank-anchor#middle
          p.title.is-4 Middle Ranks (210 Maps)
          .columns
            .column
              p.subtitle Map Records
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecords
                      tr
                        th= record.rank
                        td= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPoints
                      tr
                        th= player.rank
                        td= player.Name
                        td= player.Points
          span.rank-anchor#long
          p.title.is-4 Long Ranks (18 Maps)
          .columns
            .column
              p.subtitle Map Records
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecords
                      tr
                        th= record.rank
                        td= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
               table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPoints
                      tr
                        th= player.rank
                        td= player.Name
                        td= player.Points
        br
        br
        article.tile.is-child.notification.is-white
          p.title Points Calculation
          p Players accumulate points from their times on all maps in relation to the map records. The player holding the record is rewarded 100 points while the amount of points drops exponentially for slower times.
            p
              | The points a player recieves for a specific map are calculated from the player's time in seconds 
              img(src='/img/points/tplayer.png', style='position:relative;top:8px;')
              | , the record time in seconds 
              img(src='/img/points/trecord.png', style='position:relative;top:5px;')
              |  and the map category constant 
              img(src='/img/points/s.png')
              | :
            br
            br
            .columns
              .column
                img(src='/img/points/equation.png', style="padding-top:30px;")
              .column
                table.table.is-narrow.has-text-centered
                  thead
                    tr
                      th Map Category
                      th
                        img(src='/img/points/s.png')
                  tbody
                    tr
                      td Short
                      td 5
                    tr
                      td Middle
                      td 3.5
                    tr
                      td Long Easy
                      td 2
                    tr
                      td Long Advanced
                      td 1
                    tr
                      td Long Hard
                      td 0.05
