extends layout

include templates/mixins.pug

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body
        .container
          .columns
            .column.is-9
              h1.title Unique Race Ranks
            .column
              form(action='/ranks/search')
                field
                  p.control.has-icons-right
                    input.input.warning-dark-input(type="text", placeholder="Player search", name="search", autocomplete="off")
                    span.icon.is-small.is-right
                      i.fa.fa-search
          nav.breadcrumb.rank-nav
            ul
              li
                a(href='#short') Short
              li
                a(href='#middle') Middle
              li
                a(href='#long') Long
              li
                a(href='#fastcap') Fastcap
    section.section
      .container
        article.tile.is-child.notification.is-white.table-links
          p.title Ranks (#{totalMapCount} Maps)
          .columns
            .column
              p.subtitle Map Records
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecords
                      tr
                        th= record.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(record.Name))= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPoints
                      tr
                        th= player.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(player.Name))= player.Name
                        td= player.Points
          span.rank-anchor#short
          p.title.is-4 Short Ranks (#{numShortMaps} Maps)
          .columns
            .column
              p.subtitle Map Records
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecordsShort
                      tr
                        th= record.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(record.Name))= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPointsShort
                      tr
                        th= player.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(player.Name))= player.Name
                        td= player.Points
          span.rank-anchor#middle
          p.title.is-4 Middle Ranks (#{numMiddleMaps} Maps)
          .columns
            .column
              p.subtitle Map Records
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecordsMiddle
                      tr
                        th= record.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(record.Name))= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPointsMiddle
                      tr
                        th= player.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(player.Name))= player.Name
                        td= player.Points
          span.rank-anchor#long
          p.title.is-4 Long Ranks (#{numLongMaps} Maps)
          .columns
            .column
              p.subtitle Map Records
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecordsLong
                      tr
                        th= record.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(record.Name))= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPointsLong
                      tr
                        th= player.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(player.Name))= player.Name
                        td= player.Points
          span.rank-anchor#fastcap
          p.title.is-4 Fastcap Ranks (#{numFastcapMaps} Maps)
          .columns
            .column
              p.subtitle Map Records
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    each record, index in mapRecordsFastcap
                      tr
                        th= record.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(record.Name))= record.Name
                        td= record.recordsCount
            .column
              p.subtitle Points
              .horizontal-scroll
                table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    each player, index in topPointsFastcap
                      tr
                        th= player.rank
                        td
                          a(href='/ranks/player/'+encodeURIComponent(player.Name))= player.Name
                        td= player.Points
          p.title.is-4 Record History
          .horizontal-scroll.latest-records-table
            table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
              thead
                tr
                  th Date
                  th Player
                  th Map
                  th Time
              tbody
                each record, index in lastTopRanks
                  tr
                    td= record.Timestamp.toISOString().replace(/T/, ' ').replace(/\..+/, '')
                    td
                      a(href='/ranks/player/'+encodeURIComponent(record.Name))= record.Name
                    td
                      a(href='/map/'+encodeURIComponent(record.Map))= record.Map
                    td= formatTime(record.Time)
        br
        br
        article.tile.is-child.notification.is-white
          p.title(id="points-calculation") Points Calculation
          p Players accumulate points from their times on all maps in relation to the map records. The player holding the record is rewarded 100 points while the amount of points drops exponentially for slower times.
            p
              | The points a player recieves for a specific map are calculated from the player's time in seconds 
              img(src='/static/img/points/tplayer.png', style='position:relative;top:8px;', class='invert-in-dark-mode')
              | , the record time in seconds 
              img(src='/static/img/points/trecord.png', style='position:relative;top:5px;', class='invert-in-dark-mode')
              |  and the map category constant 
              img(src='/static/img/points/s.png', class='invert-in-dark-mode')
              | :
            br
            br
            .columns
              .column
                img(src='/static/img/points/equation.png', style="padding-top:30px;", class='invert-in-dark-mode')
              .column
                table.table.is-narrow.has-text-centered
                  thead
                    tr
                      th Map Category
                      th
                        img(src='/static/img/points/s.png', class='invert-in-dark-mode')
                  tbody
                    tr
                      td Short
                      td 5
                    tr
                      td Middle
                      td 3.5
                    tr
                      td Long Easy
                      td 2
                    tr
                      td Long Advanced
                      td 1
                    tr
                      td Long Hard
                      td 0.03
                    tr
                      td Fastcap
                      td 5