extends layout

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body
        .container
          h1.title Serverstatus
          nav.breadcrumb.rank-nav
            ul
              each location in locations
                li
                  a(href='#'+location.name)= location.name   
    section.section
      .container
        each location in locations
          span.rank-anchor(id=location.name)
          .location-section
            .level.location-header
              .level-left
                .level-item
                  h2.title.is-4= location.name
              .level-right
                if location.sponsor
                  .level-item
                    p.has-text-grey
                      | Sponsored by 
                      strong= location.sponsor          
            if location.servers && location.servers.length > 0
              .columns.is-multiline
                each server in location.servers.filter(s => !s.password).sort((a, b) => ((b.players ? b.players.length : 0) - (a.players ? a.players.length : 0)) || (a.name > b.name ? 1 : -1))
                  .column.is-full-tablet.is-half-desktop.is-one-third-widescreen
                    .card.server-card
                      .card-content
                        .server-header
                          .server-title
                            h3.title.is-6.server-name= server.name
                            .server-status.is-online
                              span.status-dot
                              span.status-text Online
                          .server-meta
                            .meta-item
                              span.icon.has-text-grey-light
                                i.fas.fa-map
                              span.meta-text= server.map
                            .meta-item
                              span.icon.has-text-grey-light
                                i.fas.fa-users
                              span.meta-text #{server.players ? server.players.length : 0} / #{server.maxclients}                        
                        if server.players && server.players.length > 0
                          .players-list
                            table.table.is-narrow.is-fullwidth.is-hoverable
                              thead
                                tr
                                  th.flag-col
                                  th Player
                                  th Clan
                              tbody
                                each player in server.players
                                  tr
                                    td.flag-col
                                      img.flag-img(src='/static/img/twflags/'+player.flag+'.png' alt=player.flag)
                                    td.player-name= player.name
                                    td.player-clan= player.clan                      
                      .card-footer
                        .card-footer-item.server-address
                          span.icon.has-text-grey-light
                            i.fas.fa-server
                          span #{server.ip}:#{server.port}
            else
              .notification.is-light.has-text-centered
                p.has-text-grey No servers currently running in this location            
            unless location === locations[locations.length - 1]
              hr.location-divider
