extends layout

block content
  main
    section.section
      br
      .container
        section.hero.is-small.is-warning
          .hero-body
            h1.title
              | Serverstatus
            h2.subtitle
              each loc, i in locations
                if i != 0
                  |  | 
                | #{loc.name} Status:
                if loc.alive
                  span.has-text-success ON
                else
                  span.has-text-danger OFF
        br
        br
        br
        .tabs.is-large.is-centered
          ul
            each loc in locations
              li(class={'is-active': loc.name === location.name})
                a(href='/serverstatus/'+loc.name)= loc.name

        .columns.columns-swap
          each server in location.servers
            .column.is-half
              .notification.is-white
                | #{server.name} #{server.reachable} #{server.map} #{server.gametype} #{server.numclients} #{server.maxclients}
                if server.reachable
                  if server.numclients
                    table.table
                      tbody
                        each player in server.players
                          tr
                            td= player.name
                            td= player.clan
                            td
                              img(src='/img/twflags/'+player.flag+'.png', style='height:1em')
                            td= player.score
