extends layout

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body
        .container
          h1.title
            | Serverstatus
          h2.subtitle
            each loc, i in locations
              if i != 0
                | &nbsp;| 
              | #{loc.name}&nbsp;Status:&nbsp;
              if loc.alive
                span.has-text-success ON
              else
                span.has-text-danger OFF
    section.section
      .container
        .tabs.is-large.is-centered
          ul
            each loc in locations
              li(class={'is-active': loc.name === location.name})
                a(href='/serverstatus/'+loc.name)= loc.name
        if !location.alive
          p.has-text-centered
            | This location is currently offline.
        else
          if location.name === 'CAN'
            p.has-text-centered.background-text
              | Unique CAN is sponsored by Fudgy.
            br
          if location.name === 'USA'
            p.has-text-centered.background-text
              | Unique USA is sponsored by Ewan Green.
            br
          if location.name === 'RSU'
            p.has-text-centered.background-text
              | Unique USA is sponsored by gerdoe.
            br
          if location.name === 'Taiwan'
            p.has-text-centered.background-text
              | Unique Taiwan is sponsored by heinrich5991.
            br
          .columns.is-multiline
            each server in location.servers.filter(s => !s.password).sort((a, b) => ((b.reachable ? 1 : 0) - (a.reachable ? 1 : 0)) || ((b.players ? b.players.length : 0) - (a.players ? a.players.length : 0)) || (a.name > b.name ? 1 : -1))
              .column.is-full-tablet.is-half-desktop.is-one-third-fullhd
                .notification.is-white.servernot
                  .serverbox
                    .serverinfobox
                      h2.subtitle.servername= server.name
                      if server.reachable
                        |  
                        span.servermap=server.map
                        |  
                        span.servercount #{server.players ? server.players.length : 0} / #{server.maxclients}
                    if server.reachable
                      .is-unselectable.serverreach.serveron &nbsp;
                    else
                      .serverreach.serverofftext Offline
                      .is-unselectable.serverreach.serveroff &nbsp;
                    .serverplayers
                      if server.reachable
                        if server.players && server.players.length
                          table.table.is-narrow.is-fullwidth
                            thead
                              tr
                                th.is-unselectable &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                th Player
                                th Clan
                            tbody
                              each player in server.players
                                tr
                                  td
                                    img(src='/static/img/twflags/'+player.flag+'.png')
                                  td= player.name
                                  td= player.clan
                    p(style=' font-family: Montserrat, san-serif; font-size: 10px; text-align: right; margin-top: 15px;') #{server.ip}:#{server.port}
